<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>头像</key>
	<dict>
		<key>desc</key>
		<string>头像</string>
		<key>type</key>
		<integer>2</integer>
		<key>value</key>
		<string>http://www.baidu.com</string>
	</dict>
	<key>姓名</key>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>value</key>
		<string>熊大小</string>
		<key>desc</key>
		<string>没有箭头</string>
	</dict>
	<key>昵称</key>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>value</key>
		<string>bear</string>
		<key>desc</key>
		<string>箭头</string>
	</dict>
	<key>性别</key>
	<dict>
		<key>desc</key>
		<string>箭头</string>
		<key>type</key>
		<integer>1</integer>
		<key>value</key>
		<string>男</string>
	</dict>
	<key>生日</key>
	<dict>
		<key>desc</key>
		<string>箭头</string>
		<key>type</key>
		<integer>1</integer>
		<key>value</key>
		<string>1998-07-23</string>
	</dict>
	<key>班级</key>
	<dict>
		<key>desc</key>
		<string>箭头</string>
		<key>type</key>
		<integer>1</integer>
		<key>value</key>
		<string>2016级1班</string>
	</dict>
	<key>电话</key>
	<dict>
		<key>desc</key>
		<string>箭头</string>
		<key>type</key>
		<integer>1</integer>
		<key>value</key>
		<string>13983120224</string>
	</dict>
	<key>邮箱</key>
	<dict>
		<key>desc</key>
		<string>箭头</string>
		<key>type</key>
		<integer>1</integer>
		<key>value</key>
		<string>13983120224@qq.com</string>
	</dict>
	<key>修改密码</key>
	<dict>
		<key>desc</key>
		<string>只有箭头</string>
		<key>type</key>
		<integer>3</integer>
		<key>value</key>
		<string></string>
	</dict>
	<key>座右铭</key>
	<dict>
		<key>desc</key>
		<string>箭头和详细</string>
		<key>type</key>
		<integer>4</integer>
		<key>value</key>
		<string>天行健，君子应自强不息</string>
	</dict>
	<key>自我介绍</key>
	<dict>
		<key>desc</key>
		<string>箭头和详细</string>
		<key>type</key>
		<integer>4</integer>
		<key>value</key>
		<string>my name is Haha.</string>
	</dict>
</dict>
</plist>
