<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>label</key>
		<string>头像</string>
		<key>desc</key>
		<string>头像</string>
		<key>type</key>
		<integer>2</integer>
		<key>value</key>
		<string>http://www.baidu.com</string>
	</dict>
	<dict>
		<key>label</key>
		<string>姓名</string>
		<key>type</key>
		<integer>0</integer>
		<key>value</key>
		<string>熊大小</string>
		<key>desc</key>
		<string>没有箭头</string>
	</dict>
	<dict>
		<key>label</key>
		<string>昵称</string>
		<key>type</key>
		<integer>1</integer>
		<key>value</key>
		<string>bear</string>
		<key>desc</key>
		<string>箭头</string>
	</dict>
	<dict>
		<key>label</key>
		<string>性别</string>
		<key>desc</key>
		<string>箭头</string>
		<key>type</key>
		<integer>1</integer>
		<key>value</key>
		<string>男</string>
	</dict>
	<dict>
		<key>label</key>
		<string>生日</string>
		<key>desc</key>
		<string>箭头</string>
		<key>type</key>
		<integer>1</integer>
		<key>value</key>
		<string>1998-07-23</string>
	</dict>
	<dict>
		<key>label</key>
		<string>班级</string>
		<key>desc</key>
		<string>箭头</string>
		<key>type</key>
		<integer>1</integer>
		<key>value</key>
		<string>2016级1班</string>
	</dict>
	<dict>
		<key>label</key>
		<string>电话</string>
		<key>desc</key>
		<string>箭头</string>
		<key>type</key>
		<integer>1</integer>
		<key>value</key>
		<string>13983120224</string>
	</dict>
	<dict>
		<key>label</key>
		<string>邮箱</string>
		<key>desc</key>
		<string>箭头</string>
		<key>type</key>
		<integer>1</integer>
		<key>value</key>
		<string>13983120224@qq.com</string>
	</dict>
	<dict>
		<key>label</key>
		<string>修改密码</string>
		<key>desc</key>
		<string>只有箭头</string>
		<key>type</key>
		<integer>3</integer>
		<key>value</key>
		<string></string>
	</dict>
	<dict>
		<key>label</key>
		<string>座右铭</string>
		<key>desc</key>
		<string>箭头和详细</string>
		<key>type</key>
		<integer>4</integer>
		<key>value</key>
		<string>天行健，君子应自强不息</string>
	</dict>
	<dict>
		<key>label</key>
		<string>自我介绍</string>
		<key>desc</key>
		<string>箭头和详细</string>
		<key>type</key>
		<integer>4</integer>
		<key>value</key>
		<string>my name is Haha.</string>
	</dict>
</array>
</plist>
